<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/mywebsite.css">
  </head>
  <body>
    <div class="show-helper not-found">
      <div class="container clearfix">
        <h1>迷路拉.. get lose.. !?</h1>
        <div class="head-boy">
          <div class="head">
            <div class="eyes"></div>
          </div>
          <div class="feets"></div>
        </div>
      </div>
    </div>
  </body>
</html>