@import 'compass/css3';
@import '_animate';

/* component - head */

// $head-boy

$head-boy-color: #eee;
$head-boy-eyes-color: #444;
$head-boy-feets-color: #444;

.head-boy {
  float: left;
  margin-top: 20px;
  z-index: 0;
  cursor: pointer;
  &.hide-body {
    height: 65px;
    overflow: hidden;
  }
  .head {
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: $head-boy-color;
    // @include animation(head 1.2s infinite);
    .eyes {
      position: absolute;
      top: 35px;
      left: 30px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $head-boy-eyes-color;
      box-shadow: 20px 0 0 #444444;
      @include animation(eyes 2.5s infinite);
    }
  }
  .feets {
    position: relative;
    top: -10px;
    &:before, &:after {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 25px;
      z-index: 1;
      border-radius: 50%;
      background: $head-boy-feets-color;
      content: '';
      // @include animation(feets-left 1.2s infinite);
    }
    &:after {
      left: 45px;
      z-index: -1;
      // @include animation(feets-right 1.2s infinite);
    }
  }
}

@include keyframes(head) {
   0% { top: 3px; }
   50% { top: -3px;}
  100% { top: 3px; }
}

@include keyframes(eyes) {
  0 { opacity: 1;}
  15% { opacity: 0;}
  30% { opacity: 1;}
  45% { opacity: 0}
  100% { opacity: 1;}
}

@include keyframes(feets-left) {
   0% { z-index: 1;}
   50% {  z-index: -1;}
  100% {  /* z-index: 1; */ }
}
@include keyframes(feets-right) {
   0% { z-index: -1; }
   50% {  z-index: 1;}
  100% {  /* z-index: -1; */ }
}