@import 'compass/css3';

/* component - my photo with side title desc */

#title-photo {
  padding: 10em 0;
  background: #07a;
  @include background(linear-gradient(to right,#07a, #0aa, #07a));
  .title-photo {
    position: relative;
    margin: 0 auto;
    height: 10em;
    width: 10em;
    background: #999 url('/image/mywebsite/me.png') 80% 0%;
    background-size: 10em 10em;
    @include border-radius(50%);
    @include box-shadow(0 0 0 0.8em rgba(255,255,255,0.3));

    @include mediaQuires(ML) {
      &:before, &:after {
        position: absolute;
        width: 10em;
        font-size: 1.7em;
        top: 2em;
      };
      &:before {
        content: 'FrontEnd Developer';
        right: 6em;
      }
      &:after {
        content: 'web Developer';
        left: 7.25em;
      }
    }
  }
}