// helpers

$item-count-subtract1: 4;
$item-size: 70px;
$item-color: $white;
$item-background: $light-blue;

@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.helper-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -35px;
  visibility: hidden;
}

@for $i from 0 through $item-count-subtract1 {
  .helper-menu {
    li:nth-child(#{$i + 1}) a {
      @include transform(rotate(-180deg / $item-count-subtract1 * $i));
    }
  }
}

.helper-menu {
  li {
    @include absolute-center;
    @include size($item-size);
    display: block;
    opacity: 0;
    @include transition(opacity .5s, transform .5s);
    .menu-item {
      display: block;
      width: inherit;
      height: inherit;
      color: $item-color;
      background: $item-background;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      cursor: pointer;
      @include transition(.2s);
      &.completed {
        &:hover {
          box-shadow: 0 0 0 $item-size / 40 rgba($white, 0.3);
          background: rgba($item-background, 0.3);
        }
      }
      // &.active {
      //     // @include transform(rotate(-90deg) scale(1.2));
      //     font-size: 13px;
      //   &:hover {
      //     background: $item-background;
      //     font-size: 12px;
      //     // @include transform(rotate(-90deg));
      //   }
      // }
      &.padding, &.disabled {
        opacity: .5;
        cursor: default;
        &:hover {
          background: $item-background;
        }
      }
      > strong {
        display: block;
        position: relative;
        top: 50%;
        width: $item-size - 10px;
        margin: auto;
        word-wrap: break-word;
        @include transform(translateY(-50%));
      }
    }
  }
}
.show-helper {
  .helper-menu {
    visibility: visible;
    li{
      opacity: 1;
    }
    @for $i from 0 through $item-count-subtract1 {
      li:nth-child(#{$i + 1}) {
        @include transform(rotate(180deg / $item-count-subtract1 * $i) translateX(-$item-size - 50px));
      }
    }
  }
}

.show-board {
  .helper-menu {
    visibility: hidden;
  }
}