/* component - head-boy */

$remind-color: $dark-gray;
$head-boy-color: $dark-gray;
$head-boy-eyes-color: $light-gray2;
$head-boy-feets-color: $light-gray2;

#helper-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: calc(100% - 85px);
  background-color: $preloader-color;
}

#helper {
  position: fixed;
  bottom: 60px;
  // width: 100%;
  right: 10%;
  z-index: 10;
}

// equip section - padding
// .equip-section, .padding-section {
//   position: fixed;
//   width: 10%;
//   top: 50%;
//   @include transition(all .2s linear);
//   @include transform(translateY(-50%));
// }
// .equip-section {
//   left: -10%;
// }
// .padding-section {
//   right: -10%;
// }

// .equip {
//   padding: 6px;
//   margin: 10px;
//   overflow: hidden;
//   color: cornflowerblue;
//   cursor: pointer;
//   border: 2px solid #964514;
//   border-radius: 20px;
//   text-align: center;
// }

// helper desc
.help-desc {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin: 100px 0 0 -200px;
  text-align: center;
  color: white;
  display: none;
}

// helper
.head-boy {
  // float: right;
  // margin-bottom: 5px;
  z-index: 1;
  cursor: pointer;
  @include transition(margin-bottom .2s linear);
  &:hover {
    margin-bottom: 5px;
  }
  > .remind-click {
    width: 85px;
    text-align: center;
    color: $remind-color;
    font-size: 20px;
    padding-bottom: 30px;
    @include animation(remind 1.5s infinite);
    &:before {
      position: absolute;
      left: 50%;
      margin: 20px 0 0 -6px;
    }
  }
}

.head {
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: $head-boy-color;
  &:after {
    content: 'back';
    position: absolute;
    top: 105px;
    left: 27px;
    color: $head-boy-color;
    font-size: 18px;
  }
}
.feets {
  position: relative;
  top: -10px;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 25px;
    z-index: 1;
    border-radius: 50%;
    background-color: $head-boy-feets-color;
  }
  &:after {
    left: 45px;
    z-index: -1;
  }
  // &.stop{
    // &:before, &:after {
      // @include animation-play-state(paused);
    // }
  // }
}
.eyes {
  position: absolute;
  top: 35px;
  left: 30px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $head-boy-eyes-color;
  box-shadow: 20px 0 0 $head-boy-eyes-color;
  @include animation(eyes 2.5s infinite);
}

#helper.loading .head-boy {
  cursor: default;
}

// show helper
.show-helper {
  // .equip-section {
  //   left: 10%;
  // }
  // .padding-section {
  //   right: 10%;
  // }
  .help-desc {
    display: block;
  }
  .head-boy {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -42px 0 0 -42px;
    height: 85px;
    @include animation(show-helper .5s linear);
  }
  .head {
    @include animation(head 1.2s infinite);
  }
  .feets {
    &:before{
      @include animation(feets-left 1.2s infinite);
    }
    &:after{
      @include animation(feets-right 1.2s infinite);
    }
  }
}

// show board
.show-board {
  .head-boy {
    opacity: 0;
  }
  .help-desc {
    display: none;
  }
}

// fb loading state
#loading-state {
  position: fixed;
  height: 1px;
  bottom: 85px;
  z-index: 12;
  background-color: $white;
  @include transition(width .5s linear);
}

// keyframes
@include keyframes(remind) {
   0% { margin-bottom: 3px;}
   50% { margin-bottom: -3px;}
  100% { margin-bottom: 3px;}
}
@include keyframes(head) {
   0% { top: 3px;}
   50% { top: -3px;}
  100% { top: 3px;}
}
@include keyframes(eyes) {
  0 { opacity: 1;}
  15% { opacity: 0;}
  30% { opacity: 1;}
  45% { opacity: 0}
  100% { opacity: 1;}
}
@include keyframes(feets-left) {
   0% { z-index: 1;}
   50% {  z-index: -1;}
  100% {  /* z-index: 1; */ }
}
@include keyframes(feets-right) {
   0% { z-index: -1;}
   50% {  z-index: 1;}
  100% {  /* z-index: -1; */ }
}
@include keyframes(show-helper) {
  from {opacity: 0;}
  to {opacity: 1;}
}