/* component - fb msg board */

$msg-board-bkg-color: $ghost-white;
$fb-close-color: $light-blue;
$fb-close-hover-color: $light-blue2;

// fb msg board
.msg-board {
  position: fixed;
  top: -100%;
  width: 100%;
  height: calc(100% - 85px);
  overflow-y: scroll;
  background-color: $msg-board-bkg-color;
  @include transition(top .25s linear);
  > .fb-comments {
    width: 100%;
  }
  .like-section, .close-section {
    position: fixed;
    z-index: 1;
    display: none;
    right: 20px;
    @include mediaQuires(ML) {
      left: 50%;
      @include transform(translateX(-50%));
      > div {
        float: right;
      }
    }
  }
  > .like-section {
    bottom: 105px;
  }
  > .close-section {
    bottom: 220px;
  }
  .fb-like {
    padding: 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .fb-close {
    > a {
      cursor: pointer;
      color: $fb-close-color;
      &:hover {
        color: $fb-close-hover-color;
      }
    }
  }
}

// show board
.show-board {
  .msg-board {
    top: 0;
  }
  .like-section, .close-section {
    display: block;
  }
}
