.bar {
  height: 10px;
  border-radius: 10px;
  &:before, &:after {
    display: block;
    position: absolute;
    top: -12px;
    // height: 10px;
    padding: 10px;
    font-style: italic;
    font-weight: bolder;
  }
  &:before {
    content: attr(data-skill);
    left: -120px;
  }
  // &:after {
  //   content: attr(data-percent) "%";
  //   right: -70px;
  // }
  &.mint {
    background-color: #14C3A2;
    background-image: repeating-linear-gradient(-45deg, #14C3A2, #14C3A2 30px, #22e8c3 30px, #22e8c3 60px);
    background-size: 600px 100%;
    animation: percentage-flow 12s linear infinite;
    border-bottom: 0.2rem solid #0d7e68;
    &:before, &:after {
      color: #14C3A2;
    }
  }
  &.red {
    background-color: #CF4647;
    background-image: repeating-linear-gradient(-45deg, #CF4647, #CF4647 30px, #da6e6f 30px, #da6e6f 60px);
    background-size: 600px 100%;
    animation: percentage-flow 12s linear infinite;
    border-bottom: 0.2rem solid #9f292a;
    &:before, &:after {
      color: #CF4647;
    }
  }
  &.orange {
    background-color: #EB7B59;
    background-image: repeating-linear-gradient(-45deg, #EB7B59, #EB7B59 30px, #f09f87 30px, #f09f87 60px);
    background-size: 600px 100%;
    animation: percentage-flow 12s linear infinite;
    border-bottom: 0.2rem solid #dd481b;
    &:before, &:after {
      color: #EB7B59;
    }
  }
  &.blue {
    background-color: #3F5EF3;
    background-image: repeating-linear-gradient(-45deg, #304FDF, #304FDF 30px, #3F5EF3 30px, #3F5EF3 60px);
    animation: percentage-flow 12s linear infinite;
    border-bottom: 0.2rem solid #03187A;
    &:before, &:after {
      color: #304FDF;
    }
  }
  &.purple {
    background-color: #595B5A;
    background-image: repeating-linear-gradient(-45deg, #8D48C8, #8D48C8 30px, #B46CF1 30px, #B46CF1 60px);
    background-size: 600px 100%;
    animation: percentage-flow 12s linear infinite;
    border-bottom: 0.2rem solid #762DB4;
    &:before, &:after {
      color: #8D48C8;
    }
  }
  &[data-percent="5"] {
    width: 5%;
  }
  &[data-percent="10"] {
    width: 10%;
  }
  &[data-percent="15"] {
    width: 15%;
  }
  &[data-percent="20"] {
    width: 20%;
  }
  &[data-percent="25"] {
    width: 25%;
  }
  &[data-percent="30"] {
    width: 30%;
  }
  &[data-percent="35"] {
    width: 35%;
  }
  &[data-percent="40"] {
    width: 40%;
  }
  &[data-percent="45"] {
    width: 45%;
  }
  &[data-percent="50"] {
    width: 50%;
  }
  &[data-percent="55"] {
    width: 55%;
  }
  &[data-percent="60"] {
    width: 60%;
  }
  &[data-percent="65"] {
    width: 65%;
  }
  &[data-percent="70"] {
    width: 70%;
  }
  &[data-percent="75"] {
    width: 75%;
  }
  &[data-percent="80"] {
    width: 80%;
  }
  &[data-percent="85"] {
    width: 85%;
  }
  &[data-percent="90"] {
    width: 90%;
  }
  &[data-percent="95"] {
    width: 95%;
  }
  &[data-percent="100"] {
    width: 100%;
  }
}