.social-link {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  @include transition(all 0.25s);
  &:hover {
    @include transform(scale(1.2));
    color: $light-blue2;
    &:after{
      opacity: 1;
      @include transform(scale(1) translate(-50%, 0));
    }
  }
  &:active {
    @include transform(scale(1.1));
  }
  // &:after {
  //   content: "@" attr(data-user);
  //   font-size: 12px;
  //   position: absolute;
  //   top: 100%;
  //   left: 50%;
  //   text-align: center;
  //   opacity: 0;
  //   transform-origin: 0 0;
  //   transform: scale(0) translate(-50%, -100px);
  //   transition: transform 0.25s ease 0.25s, opacity 0.25s;
  // }
}