/* component - tags */

$tag-bg-color: $light-blue;
$tag-bg-hover-color: $light-blue2;
$tag-text-color: $white;

.tags {
  opacity: 0;
	@include animation(show-tags 1.2s ease 1s);
  @include animation-fill-mode(forwards);
	.tags-left, .tags-right {
		position: absolute;
	  @include mediaQuires(S) {
	  	display: none;
	  }
	}
}
.tags .tags-skill {
	> .tags-left {
		// @include mediaQuires(M) {
			top: 8.5em;
			left: 2em;
		// }
	  @include mediaQuires(L) {
			top: 7em;
			left: 7.2em;
		}
	}
	> .tags-right {
		// @include mediaQuires(M) {
			top: 8.5em;
			right: 3.5em;
		// }
	  @include mediaQuires(L) {
			top: 7em;
			right: 10.5em;
		}
	}
}
// .tags .tags-brief {
// 	> .tags-left {
// 	  @include mediaQuires(M) {
// 			top: 7em;
// 			left: 5em;
// 		}
// 	  @include mediaQuires(L) {
// 			top: 7em;
// 			left: 14.5em;
// 		}
// 	}
// 	> .tags-right {
// 	  @include mediaQuires(M) {
// 			top: 7em;
// 			right: 5em;
// 		}
// 	  @include mediaQuires(L) {
// 			top: 7em;
// 			right: 14em;
// 		}
// 	}
// }
.tags .tag {
	float: left;
	margin: 5px;
	padding: 5px 8px;
	color: $tag-text-color;
	background-color: $tag-bg-color;
	cursor: default;
	@include border-radius(5px);

	// &:hover {
	// 	background-color: $tag-bg-hover-color;
	// 	padding: 7px 10px;
	// 	// font-size: 17px;
	// 	margin: 3px;
	// }
}

@include keyframes(show-tags) {
   from {opacity: 0;}
   to {opacity: 1;}
}