/* component - tags */

$tag-bg-color: rgba(27, 139, 255, 1);
$tag-text-color: #eee;

.tags {
  opacity: 0;
	@include animation(show-tags 1.2s ease 1s);
  @include animation-fill-mode(forwards);
	.tags-left, .tags-right {
		position: absolute;
	  @include mediaQuires(S) {
	  	display: none;
	  }
	}
}
.tags .tags-skill {
	> .tags-left {
		@include mediaQuires(M) {
			top: 8.5em;
			left: 1em;
		}
	  @include mediaQuires(L) {
			top: 7em;
			left: 6.5em;
		}
	}
	> .tags-right {
		@include mediaQuires(M) {
			top: 8.5em;
			right: 2.8em;
		}
	  @include mediaQuires(L) {
			top: 7em;
			right: 9.6em;
		}
	}
}
.tags .tags-brief {
	> .tags-left {
	  @include mediaQuires(M) {
			top: 7em;
			left: 5em;
		}
	  @include mediaQuires(L) {
			top: 7em;
			left: 14.5em;
		}
	}
	> .tags-right {
	  @include mediaQuires(M) {
			top: 7em;
			right: 5em;
		}
	  @include mediaQuires(L) {
			top: 7em;
			right: 14em;
		}
	}
}
.tags .tag {
	float: left;
	margin: 5px;
	padding: 5px 8px;
	color: $tag-text-color;
	background-color: $tag-bg-color;
	cursor: pointer;
	@include border-radius(5px);

	&:hover {
		background-color: #47A1FF;
		padding: 7px 10px;
		// font-size: 17px;
		margin: 3px;
		opacity: 0.9;
	}
}

@include keyframes(show-tags) {
   from {opacity: 0;}
   to {opacity: 1;}
}