<section id="aboutme" class="hide">
  <div id="parallax">
    <div id="#who-i-am" class="page page-main">
      <!-- <div class="prx mainpage-img1"></div> -->
      <div class="prx title main-btitle">kevin</div>
      <div class="prx title main-ftitle">hu</div>
      <a href="#family" class="prx link go-family">family</a>
      <a href="#extroverted" class="prx link go-extroverted">extroverted</a>
      <a href="#working" class="prx link go-working">working</a>
      <a href="#introverted" class="prx link go-introverted">introverted</a>
    </div>
    <!-- family -->
    <div id="#family" class="page page-family">
      <div class="prx title family-title">family</div>
      <div class="prx desc family-desc">
        I have a brother, living with my parents. There are always dogs company with my life and there is a cat join my family now. Pet just one of family that can walk around and sleep with us in my home. Every day we walk both dog and cat to the park. My parents have very liberal point. They always respect my decision, and giving support to me. I'm very lucky to have a happy family that completed me and make me better.
      </div>
      <div class="prx img family-img1"></div>
      <div class="prx img family-img2"></div>
      <a href="#who-i-am"  class="prx link family-goback">Back</a>
    </div>
    <!-- extroverted -->
    <div id="#extroverted" class="page page-extroverted">
      <div class="prx title extroverted-title">extroverted</div>
      <div class="prx desc extroverted-desc">
        My favorite sport is basketball and i love to dance! Being a basketball player or a dancer is my dream! There are always lots of friends play with me since i was a child. Basketball make me perfect.
        I used to join the club to dance duration my student time. Dancing is the best thing i ever had.<br>
        I still play basketball and dance after work or holiday now. There is always have basketball game to play in holiday. These things are the breath of life for me. I believe i will keep going until i died!
      </div>
      <div class="prx img extroverted-img1"></div>
      <div class="prx img extroverted-img2"></div>
      <a href="#who-i-am" class="prx link extroverted-goback">Back</a>
    </div>
    <!-- working -->
    <div id="#working" class="page page-working">
      <div class="prx title working-title">working</div>
      <div class="prx desc working-desc">
        I always be enthusiastic and stay competitive to keep in touch the latest FrondEnd world. Face the challenge in my field, both positive and diligent attitude are necessary. So it's what i always do and loving to explore the new things.<br>
        I have sufficient experences to teach begineer, Teaching others teaches myself. I believe i can be a good teacher and give some advise to others. For me, colleagues just like friends no doubt. I always put friendship on my top priority, friends from school, club, work had completed my life.<br>
        Working is a attitude, same as life. no matter how hard i face, i'll try to find the way out and do my best.
      </div>
      <div class="prx img working-img1"></div>
      <div class="prx img working-img2"></div>
      <a href="#who-i-am" class="prx link working-goback">Back</a>
    </div>
    <!-- introverted -->
    <div id="#introverted" class="page page-introverted">
      <div class="prx title introverted-title">introverted</div>
      <div class="prx desc introverted-desc">
        Instrument like piano, jazz drum enjoy my life! I love music, it's grateful to play instruments. Music makes me more sensative to the outside world, also does photohraph! I love to take picture. Graph the great moment and beautiful landscape in the world is one of the best things. Maybe there will be a day to see my photography exhibition in corner of the world ( Just a dream.. haha but i'm seriously! )<br>
        Stop and look around, you will see how wonderful life and the world is!
      </div>
      <div class="prx img introverted-img1"></div>
      <div class="prx img introverted-img2"></div>
      <a href="#collections" class="prx link go-collections">collections</a>
      <a href="#who-i-am"  class="prx link introverted-goback">Back</a>
    </div>
    <!-- photo collections -->
    <div id="#collections" class="page page-collections">
      <!-- <div class="prx title collections-title">collections</div> -->
      <div class="prx img collections-img1"></div>
      <div class="prx img collections-img2"></div>
      <div class="prx img collections-img3"></div>
      <div class="prx img collections-img4"></div>
      <div class="prx img collections-img5"></div>
      <div class="prx img collections-img6"></div>
      <div class="prx img collections-img7"></div>
      <div class="prx img collections-img8"></div>
      <a href="#introverted" class="prx link collections-goback">Back</a>
    </div>
<!--       <h3>
      There is someone knows his own mind, having some of visual aesthetic, UI/UX thinking, some of knowledge of BackEnd world, database, anything relative to Web,  tools to make work flow better and the most important thing that solved problems independently. It's what i try to be..a FrontEnd Developer. By KevinHu
    </h3> -->
  </div>
</section>