<section id="kevinhu" class="hide">
  <div class="container">
    <div class="title-photo about-skill">
      <div class="photo"></div>
      <div class="title"></div>
      <div class="tags">
        <div class="tags-skill clearfix">
          <div class="tags-left">
            <div class="tag">HTML5</div>
            <div class="tag">Css3</div>
            <div class="tag">JavaScript</div>
          </div>
          <div class="tags-right">
            <div class="tag">NodeJs</div>
            <div class="tag">RoR</div>
            <div class="tag">CMS</div>
          </div>
        </div>
        <div class="tags-brief hide clearfix">
          <div class="tags-left">
            <div class="tag">Engineer Life</div>
          </div>
          <div class="tags-right">
            <div class="tag">Sporting Life</div>
          </div>
        </div>
      </div>
    </div>
    <svg id="name">
      <symbol id="svg-name">
        <text text-anchor="middle" x="50%" y="50%" dy=".35em"> KEVIN HU </text>
      </symbol>
      <use xlink:href="#svg-name" class="text"></use>
      <use xlink:href="#svg-name" class="text"></use>
      <use xlink:href="#svg-name" class="text"></use>
      <use xlink:href="#svg-name" class="text"></use>
      <use xlink:href="#svg-name" class="text"></use>
    </svg>
    <p class="welcome-typing">Welcome to my website, enjoy and have fun!</p>
  </div>
</section>