<section id="projects" class="hide">
  <div id="profolios-section" class="profolios-section">
    <ul>
      <li class="profolio">
        <div class="profolio-outside">
          <!-- <h2 class="profolio-title"> in Aite </h2> -->
          <div class="profolio-title aite"></div>
          <p class="profolio-brief">Spotme, Spotrainer, CMS projects, any other things..</p>
        </div> <!-- .profolio-outside -->

        <div class="profolio-inside">
          <p class="profolio-desc">
            Handling all of things about FrontEnd. Basic version controll use SVN. Learning about Web relative skill from seniors. Had bulid api to use and build CMS website projects by wordpress, joomla. Learn about Amazon EC2, NodeJs MySQL relative BackEnd skill. Runing Agile, eye-opener in startup and others startup in co-working space.
            use Angularjs to build <a href="http://spotme.com.tw/kevin" target="_blank">Spotme</a> business social network website.
            use Wordpress to build <a href="http://trainer.spotme.com.tw" target="_blank">Spotrainer</a> website by myself.
          </p>
          <div class="close-section"><a href="#" class="close">-- back --</a></div>
        </div> <!-- .profolio-inside -->
      </li>

      <li class="profolio">
        <div class="profolio-outside">
          <!-- <h2 class="profolio-title"> Side Projects </h2> -->
          <div class="profolio-title side-project"></div>
          <p class="profolio-brief">learning, practicing to implement all front end skills by myself</p>
        </div> <!-- .profolio-outside -->

        <div class="profolio-inside">
          <p class="profolio-desc">
            First, i just wanna to implemenet some web effect plugin like carousel, slider, parallax, one page scroll, css icon, animation, canvas and svg and some practicing like <a href="https://github.com/sky790312/pure-javascript-jquery-implementation" target="_blank">jquery implementation</a>. After then, i start to connect some implementation to me like <a href="https://github.com/sky790312/full-screen-presentation-website" target="_blank">full-screen-presentation-website</a>. Now i stay competitive to keep in touch like react, webpack, es6, gulp.. any others. Try to combine what i learn to build this <a href="https://github.com/sky790312/mywebsite" target="_blank">mywebsite</a>! Sharing is the nature of creation, so you can see all of things in my <a href="https://github.com/sky790312" target="_blank">GitHub</a>.
          </p>
          <div class="close-section"><a href="#" class="close">-- back --</a></div>
        </div> <!-- .profolio-inside -->
      </li>
      <li class="profolio">
        <div class="profolio-outside">
          <!-- <h2 class="profolio-title"> in Eztravel </h2> -->
          <div class="profolio-title eztravel"></div>
          <p class="profolio-brief">involve in Coupon, Homepage revision, new Ucar projects</p>
        </div> <!-- .profolio-outside -->

        <div class="profolio-inside">
          <p class="profolio-desc">
            Projects in here base on Java Play MVC framework. Use jQuery and less css to build all the new website. Collaborate with others by git version and correct work flow to production. Learn knowledge about nginx, jboss and jenkins. Sometimes i should even focus on Play application side. Had develop the new <a href="http://trip.eztravel.com.tw/hsrucar" target="_blank">Ucar</a> project and others.
          </p>
          <div class="close-section"><a href="#" class="close">-- back --</a></div>
        </div> <!-- .profolio-inside -->
      </li>
    </ul>
    <a href="#" class="close"></a>
    <!-- <a href="#" class="scroll"></a> -->
  </div> <!-- .project-container -->
</section>