<section id="skills" class="hide">
  <div id="background-bubble">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
  <!-- <div id="background-cloud">
      <div class="cloud1">
          <div class="cloud"></div>
      </div>

      <div class="cloud2">
          <div class="cloud"></div>
      </div>

      <div class="cloud3">
          <div class="cloud"></div>
      </div>

      <div class="cloud4">
          <div class="cloud"></div>
      </div>

      <div class="cloud5">
          <div class="cloud"></div>
      </div>
  </div> -->
  <div id="skill-wall">
    <ul class="skill-backend">
      <li class="awsec2">awsec2</li>
      <li class="nginx">nginx</li>
      <li class="mysql">mysql</li>
      <li class="nodejs">nodejs</li>
      <li class="ror">ruby on rails</li>
      <li class="play">play</li>
      <li class="wordpress">wordpress</li>
      <li class="joomla">joomla</li>
      <li class="version-controll">git/svn</li>
      <li class="tools">webpack/gulp</li>
    </ul>
    <ul class="skill-frontend">
      <li class="html5">html5</li>
      <li class="webpack">webpack</li>
      <li class="rwd">rwd</li>
      <li class="bootstrap">bootstrap</li>
      <li class="css3">css3</li>
      <li class="ga">ga</li>
      <li class="es6">es6</li>
      <li class="css-framework">sass/scss/less</li>
      <li class="reactjs">reactjs</li>
      <li class="object-oriented">object oriented</li>
      <li class="ajax">ajax</li>
      <li class="jquery">jquery</li>
      <li class="open-third-api">open third api</li>
      <!-- <li class="wordpress">wordpress</li> -->
      <li class="cross-browser">cross browser</li>
      <li class="javascript">javascript</li>
      <li class="angularjs">angularjs</li>
    </ul>
  </div>
  <div id="skills-desc" class="container">
    <ul>
      <li>Explain and Clarify problems, ability to get the Heart of the Matter.</li>
      <li>Basic design thinking, knowledge about backend, linux, computer science, web's world.</li>
      <li>Familiarity with Object-Oriented Programming, pure javaScript, design pattern, librarys, frameworks.</li>
      <li>Soft communication to works closely with designers, backend developers and product owners.</li>
      <li>Knowledge of relative buildng tools to make strong front end development.</li>
    </ul>
  </div>
  <div id="skills-detail">
    <div class="levels clearfix">
      <div class="begineer">Begineer</div>
      <div class="familiar">Familiar</div>
      <div class="proficient">Proficient</div>
      <div class="expert">Expert</div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="HTML5"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="pure JS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="80" data-skill="jQuery"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="AngularJS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="35" data-skill="React"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="CSS3"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="Sass / Less"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="Bootstrap"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="CMS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="45" data-skill="backend skill"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="relative tools"></div>
    </div>
  </div>
</section>