<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
    <header id="header">
      <div class="container">
        <div class="head-boy hide-body">
          <div class="head">
            <div class="eyes"></div>
          </div>
          <div class="feets"></div>
        </div>
        <div class="menu-assemble">
          <ul class="menu">
            <li class="profolio">profolio</li>
            <li class="aboutme">aboutme</li>
            <li class="">exp/edu</li>
            <li class="">skill</li>
          </ul>
          <div class="mobile-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="icon-menu">
              <div></div>
            </div>
            <div class="mobile-menu-in">
              <div class="menu-background">
                <div class="menu-list">
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="title-photo">
      <div class="container">
        <div class="title-photo"></div>
        <h1>Kevin Hu</h1>
        <p>Welcome to my website, enjoy and have fun!</p>
      </div>
    </section>
    <footer id="footer">
      <div>
        it's footer
      </div>
    </footer>
  <script src="/js/mywebsite/indexBundle.js"></script>
  <script>
    new index(document.querySelector('#app'));
  </script>
</body>
</html>
