<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
  <header id="header">
    <div class="container clearfix">
      <h1 class="KevinHu">KevinHu</h1>
      <div class="menu-assemble">
        <ul class="menu">
          <li><a class="projects">projects</a></li>
          <!-- <li><a href="">profolio</a></li> -->
          <li><a class="aboutme">aboutme</a></li>
          <li><a class="background">background</a></li>
          <li><a class="skills">skills</a></li>
        </ul>
        <div class="mobile-menu">
          <input class="checkbox-toggle" type="checkbox" />
          <div class="icon-menu">
            <div></div>
          </div>
          <div class="mobile-menu-in">
            <div class="menu-background">
              <div class="menu-list">
                <ul>
                  <li><a href="">projects</a></li>
                  <!-- <li><a href="">profolio</a></li> -->
                  <li><a href="">aboutme</a></li>
                  <li><a href="">background</a></li>
                  <li><a href="">skills</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="KevinHu" class="hide">
    <div class="container">
      <div class="title-photo about-skill">
        <div class="photo"></div>
        <div class="title"></div>
        <div class="tags">
          <div class="tags-skill clearfix">
            <div class="tags-left">
              <div class="tag">HTML5</div>
              <div class="tag">Css3</div>
              <div class="tag">JavaScript</div>
            </div>
            <div class="tags-right">
              <div class="tag">NodeJs</div>
              <div class="tag">RoR</div>
              <div class="tag">CMS</div>
            </div>
          </div>
          <div class="tags-brief hide clearfix">
            <div class="tags-left">
              <div class="tag">Engineer Life</div>
            </div>
            <div class="tags-right">
              <div class="tag">Sporting Life</div>
            </div>
          </div>
        </div>
      </div>
      <svg id="name">
        <symbol id="svg-name">
          <text text-anchor="middle" x="50%" y="50%" dy=".35em"> KEVIN HU </text>
        </symbol>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
      </svg>
      <p class="welcome-typing">Welcome to my website, enjoy and have fun!</p>
    </div>
  </section>
  <section id="projects" class="hide">
    <div id="profolios-section" class="profolios-section">
      <ul>
        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title"> in Aite </h2>
            <p class="profolio-brief">Spotme, Spotrainer, CMS projects, any other things..</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              handle all of things about FrontEnd. Learning about Web relative skill from other senior Developer.
              build CMS website projects by wordpress, joomla. Amazon EC2, NodeJs MySQL relative BackEnd skill. Runing Agile, eye-opener in startup and others startup in co-working space.
              use Angularjs to build <a href="http://spotme.com.tw" target="_blank">Spotme</a> business social network website.
              use Wordpress to build <a href="http://trainer.spotme.com.tw" target="_blank">Spotrainer</a> website by myself.
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title"> in Eztravel </h2>
            <p class="profolio-brief">involve in Coupon, Homepage page revision, new Ucar projects</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title"> Side Projects </h2>
            <p class="profolio-brief">learning, practicing to implement all front end skill by myself</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>
      </ul>
      <a href="#" class="close"></a>
      <a href="#" class="scroll"></a>
    </div> <!-- .project-container -->
  </section>
  <section id="aboutme" class="hide">
    <div id="parallax">
      <div id="#who-i-am" class="page page-main">
        <!-- <div class="prx mainpage-img1"></div> -->
        <div class="prx aboutme-title main-btitle">kevin</div>
        <div class="prx aboutme-title main-ftitle">hu</div>
        <!-- <div class="prx title main-bkgtitle"></div> -->
        <a href="#family" class="prx link go-family">family</a>
        <a href="#extroverted" class="prx link go-extroverted">extroverted</a>
        <a href="#working" class="prx link go-working">working</a>
        <a href="#introverted" class="prx link go-introverted">introverted</a>
      </div>
      <!-- family -->
      <div id="#family" class="page page-family">
        <div class="prx family-img1"></div>
        <div class="prx desc family-desc">
          it's a wonderful time duration of study, i always love to dance and still dance once a week now.. <span>dancing life</span>
        </div>
        <a href="#who-i-am"  class="prx link family-goback">Back</a>
      </div>
      <!-- extroverted -->
      <div id="#extroverted" class="page page-extroverted">
        <div class="prx extroverted-img1"></div>
        <div class="prx extroverted-img2"></div>
        <div class="prx extroverted-title">extroverted</div>
        <div class="prx desc extroverted-desc">
           music, photo, all of things like this enjoy my life!! stop and look around, you will see how wonderful life is!
        </div>
        <a href="#who-i-am" class="prx link extroverted-goback">Back</a>
      </div>
      <!-- working -->
      <div id="#working" class="page page-working">
        <div class="prx working-img1"></div>
        <div class="prx working-img2"></div>
        <a href="#collections" class="prx link go-collections">collections</a>
        <div class="prx working-title">enjoy life</div>
        <div class="prx desc working-desc">
           music, photo, all of things like this enjoy my life!! stop and look around, you will see how wonderful life is!
        </div>
        <a href="#who-i-am" class="prx link working-goback">Back</a>
      </div>
      <!-- introverted -->
      <div id="#introverted" class="page page-introverted">
        <div class="prx introverted-img1"></div>
        <div class="prx desc introverted-desc">
          my life has always been accompanied by <span>basketball</span> .. it's my favorite sports! <br>
          being a basketball player is one of my dream..maybe it will never happened..but, i believe i can keep playing until i died !
        </div>
        <a href="#who-i-am"  class="prx link introverted-goback">Back</a>
      </div>
      <!-- photo collections -->
      <div id="#collections" class="page page-collections">
        <div class="prx collections-img1"></div>
        <div class="prx collections-img2"></div>
        <div class="prx collections-img3"></div>
        <div class="prx collections-img4"></div>
        <div class="prx collections-title">collections</div>
        <a href="#working" class="prx link collections-goback">Back</a>
      </div>
<!--       <h3>
        There is someone knows his own mind, having some of visual aesthetic, UI/UX thinking, some of knowledge of BackEnd world, database, anything relative to Web,  tools to make work flow better and the most important thing that solved problems independently. It's what i try to be..a FrontEnd Developer. By KevinHu
      </h3> -->
    </div>
  </section>
  <section id="background" class="hide">

  </section>
  <section id="skills" class="hide">
  <div id="background-bubble">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
  <!-- <div id="background-cloud">
      <div class="cloud1">
          <div class="cloud"></div>
      </div>

      <div class="cloud2">
          <div class="cloud"></div>
      </div>

      <div class="cloud3">
          <div class="cloud"></div>
      </div>

      <div class="cloud4">
          <div class="cloud"></div>
      </div>

      <div class="cloud5">
          <div class="cloud"></div>
      </div>
  </div> -->
  <div id="skill-wall">
    <ul class="skill-backend">
      <li class="awsec2">awsec2</li>
      <li class="nginx">nginx</li>
      <li class="mysql">mysql</li>
      <li class="nodejs">nodejs</li>
      <li class="ror">ruby on rails</li>
      <li class="play">play</li>
      <li class="wordpress">wordpress</li>
      <li class="joomla">joomla</li>
      <li class="version-controll">git/svn</li>
      <li class="tools">webpack/gulp</li>
    </ul>
    <ul class="skill-frontend">
      <li class="html5">html5</li>
      <li class="webpack">webpack</li>
      <li class="rwd">rwd</li>
      <li class="bootstrap">bootstrap</li>
      <li class="css3">css3</li>
      <li class="ga">ga</li>
      <li class="es6">es6</li>
      <li class="css-framework">sass/scss/less</li>
      <li class="reactjs">reactjs</li>
      <li class="object-oriented">object oriented</li>
      <li class="ajax">ajax</li>
      <li class="jquery">jquery</li>
      <li class="open-third-api">open third api</li>
      <!-- <li class="wordpress">wordpress</li> -->
      <li class="cross-browser">cross browser</li>
      <li class="javascript">javascript</li>
      <li class="angularjs">angularjs</li>
    </ul>
  </div>
  <div id="skills-desc" class="container">
    <ul>
      <li>Hard knowledge of linux file, computer science, web's world.</li>
      <li>Familiarity with pure Object-Oriented JavaScript, design pattern, librarys, frameworks.</li>
      <!-- <li>Always be enthusiastic and stay competitive to keep in touch the latest FrondEnd world.</li> -->
      <li>Soft communication skills to collaborates with designers, backend developers and product owners.</li>
      <li>Knowledge of buildng tools and technologies to make strong front end development.</li>
      <li>Explain and Clarify problems, ability to get the Heart of the Matter.</li>
      <!-- <li>Love and have experences to teach begineer, Teaching others teaches myself.</li> -->
    </ul>
  </div>
  <div id="skills-detail">
    <div class="levels clearfix">
      <div class="begineer">Begineer</div>
      <div class="familiar">Familiar</div>
      <div class="proficient">Proficient</div>
      <div class="expert">Expert</div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="HTML5"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="pure JS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="80" data-skill="jQuery"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="AngularJS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="35" data-skill="React"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="CSS3"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="65" data-skill="Sass / Less"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="Bootstrap"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="CMS"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="45" data-skill="backend skill"></div>
    </div>
    <div class="skill-level">
      <div class="junior"></div>
      <div class="middle"></div>
      <div class="senior"></div>
      <div class="bar" data-percent="70" data-skill="relative tools"></div>
    </div>
  </div>
  </section>
  <footer id="footer">
    <div class="container clearfix">
      <div class="head-boy hide-body">
        <div class="head">
          <div class="eyes"></div>
        </div>
        <div class="feets"></div>
      </div>
      <div>
        it's footer
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- <script src="/js/modules/jquery-1.10.2.min.js"></script> -->
  <!-- <script src="/sources/scripts/test.js"></script> -->
  <script src="/js/mywebsite/vendors.js"></script>
  <script src="/js/mywebsite/indexBundle.js"></script>
</body>
</html>
