<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
  <header id="header">
    <div class="container clearfix">
      <h1 class="KevinHu">KevinHu</h1>
      <div class="menu-assemble">
        <ul class="menu">
          <li><a class="projects">projects</a></li>
          <!-- <li><a href="">profolio</a></li> -->
          <li><a class="aboutme">aboutme</a></li>
          <li><a class="exp/edu">exp/edu</a></li>
          <li><a class="skill">skill</a></li>
        </ul>
        <div class="mobile-menu">
          <input class="checkbox-toggle" type="checkbox" />
          <div class="icon-menu">
            <div></div>
          </div>
          <div class="mobile-menu-in">
            <div class="menu-background">
              <div class="menu-list">
                <ul>
                  <li><a href="">projects</a></li>
                  <!-- <li><a href="">profolio</a></li> -->
                  <li><a href="">aboutme</a></li>
                  <li><a href="">exp/edu</a></li>
                  <li><a href="">skill</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="KevinHu" class="hide">
    <div class="container">
      <div class="title-photo about-skill">
        <div class="photo"></div>
        <div class="title"></div>
        <div class="tags">
          <div class="tags-skill clearfix">
            <div class="tags-left">
              <div class="tag">HTML5</div>
              <div class="tag">Css3</div>
              <div class="tag">JavaScript</div>
            </div>
            <div class="tags-right">
              <div class="tag">NodeJs</div>
              <div class="tag">RoR</div>
              <div class="tag">CMS</div>
            </div>
          </div>
          <div class="tags-brief hide clearfix">
            <div class="tags-left">
              <div class="tag">Engineer Life</div>
            </div>
            <div class="tags-right">
              <div class="tag">Sporting Life</div>
            </div>
          </div>
        </div>
      </div>
      <svg id="name">
        <symbol id="svg-name">
          <text text-anchor="middle" x="50%" y="50%" dy=".35em"> KEVIN HU </text>
        </symbol>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
        <use xlink:href="#svg-name" class="text"></use>
      </svg>
      <p class="welcome-typing">Welcome to my website, enjoy and have fun!</p>
    </div>
  </section>
  <section id="projects" class="hide">
    <div id="profolios-section" class="profolios-section">
      <ul>
        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>
      </ul>
      <a href="#" class="close"></a>
      <a href="#" class="scroll"></a>
    </div> <!-- .project-container -->
  </section>
  <footer id="footer">
    <div class="container clearfix">
      <div class="head-boy hide-body">
        <div class="head">
          <div class="eyes"></div>
        </div>
        <div class="feets"></div>
      </div>
      <div>
        it's footer
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- <script src="/js/modules/pure-javascript-jquery-implementation.js"></script> -->
  <script src="/js/modules/jquery-1.10.2.min.js"></script>
  <script src="/js/mywebsite/indexBundle.js"></script>
  <script>
    new index($('#app'));
  </script>
</body>
</html>
