<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
    <header id="header" class="container">
      <div class="menu-section">
        <div class="menu">
          <div class="profolio">profolio</div>
          <div class="aboutme">aboutme</div>
          <div class="">exp/edu</div>
          <div class="">skill</div>
        </div>
        <div class="menu-mobile">
          <!-- <div class="mobile-menu"> -->
              <input class="checkbox-toggle" type="checkbox" />
              <div class="icon-menu">
                <div></div>
              </div>
              <div class="menu-mobile-in">
                <div class="menu-background">
                  <div class="menu-list">
                    <ul>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Products</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            <!-- </div> -->
        </div>
      </div>
      <div class="head-section">
        <div class="head">
          <div class="eyes"></div>
        </div>
        <div class="feets"></div>
      </div>
    </header>
    <section id="title-photo">
      <div class="title-photo"></div>
    </section>
    <footer id="footer">
      <div>
        it's footer
      </div>
    </footer>
  <script src="/js/mywebsite/indexBundle.js"></script>
  <script>
    // new index($('#app'));
  </script>
</body>
</html>
