<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Kevin Hu" />
  <meta property="og:description"   content="Kevin Hu's website" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
  <% include common/header.ejs %>
  <% include page/kevinhu.ejs %>
  <% include page/projects.ejs %>
  <% include page/aboutme.ejs %>
  <% include page/background.ejs %>
  <% include page/skills.ejs %>
  <% include common/helper.ejs %>
  <% include common/footer.ejs %>
  <script src="/js/mywebsite/vendors.js"></script>
  <script src="/js/mywebsite/indexBundle.js"></script>
</body>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=808398882620079";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
</html>
