<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Kevin Hu</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
</head>
<body id="app">
  <header id="header">
    <div class="container">
      <div class="KevinHu">KevinHu</div>
      <div class="menu-assemble">
        <ul class="menu">
          <li class="projects">projects</li>
          <!-- <li class="profolio">profolio</li> -->
          <li class="aboutme">aboutme</li>
          <li class="">exp/edu</li>
          <li class="">skill</li>
        </ul>
        <div class="mobile-menu">
          <input class="checkbox-toggle" type="checkbox" />
          <div class="icon-menu">
            <div></div>
          </div>
          <div class="mobile-menu-in">
            <div class="menu-background">
              <div class="menu-list">
                <ul>
                  <li><a href="#">project</a></li>
                  <!-- <li><a href="#">profolio</a></li> -->
                  <li><a href="#">aboutme</a></li>
                  <li><a href="#">exp/edu</a></li>
                  <li><a href="#">skill</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="KevinHu" class="hide">
    <div class="container">
      <div class="title-photo"></div>
      <h1>Kevin Hu</h1>
      <p>Welcome to my website, enjoy and have fun!</p>
    </div>
  </section>
  <section id="projects" class="hide">
    <div id="profolios-section" class="profolios-section">
      <ul>
        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>

        <li class="profolio">
          <div class="profolio-outside">
            <h2 class="profolio-title">Profolio title</h2>
            <p class="profolio-brief">brief description of profolio</p>
          </div> <!-- .profolio-outside -->

          <div class="profolio-inside">
            <p class="profolio-desc">
              detail description of profolio.. detail description of profolio.. detail description of profolio..
            </p>
          </div> <!-- .profolio-inside -->
        </li>
      </ul>
      <a href="#" class="close"></a>
      <a href="#" class="scroll"></a>
    </div> <!-- .project-container -->
  </section>
  <footer id="footer">
    <div class="container">
      <div class="head-boy hide-body">
        <div class="head">
          <div class="eyes"></div>
        </div>
        <div class="feets"></div>
      </div>
      <div>
        it's footer
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- <script src="/js/modules/pure-javascript-jquery-implementation.js"></script> -->
  <script src="/js/modules/jquery-1.10.2.min.js"></script>
  <script src="/js/mywebsite/indexBundle.js"></script>
  <script>
    new index($('#app'));
  </script>
</body>
</html>
