<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Document</title>
  <link rel="stylesheet" href="/css/mywebsite.css">
  <script type="text/javascript" src="/js/modules/jquery-1.10.2.min.js" ></script>
</head>
<body id="app">
  <header id="header">
    it's header
    <div class="head-section">
      <div class="head">
          <div class="eyes">
          </div>
      </div>
    </div>
  </header>
  <section id="title-photo">
    <div class="title-photo"></div>
  </section>
  <footer id="footer">
    <div>
      it's footer
    </div>
  </footer>
  <script src="/js/mywebsite/indexBundle.js"></script>
  <script>
    new index($('#app'));
  </script>
</body>
</html>
