$saying-border-color: $light-blue2;
$saying-sign-color: $black;
$saying-color: $green;
$years-height: 200px;

#background {
	> main {
		padding-top: 85px;
	}
	> .saying {
		margin: 80px auto;
	    border-bottom: 1px dashed $saying-border-color;
	    border-top: 1px dashed $saying-border-color;
	    color: $saying-color;
	    h2 {
	    	float: right;
	    	color: $saying-sign-color;
	    	margin: 0 0 20px;
	    }
	}
	> .background-years {
		padding-bottom: 170px;
	}
}

// background title

.background-title {
	position: relative;
	> .cover-img {
		position: relative;
	}
	.cover-icon {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 210px;
	    // height: 80%;
	    z-index: -1;
	    border-radius: 50%;
	    transform: translate(-50%, -50%);
	    > a{
	    	color: #006B6C;
	    }
	    > .fa-user-secret {
	    	margin-left: 5px;
	    }
	}
}

@include mediaQuires(ML) {
	.background-title {
		width: 100%;
		margin: 0 auto;
		> .cover-img {
	  	float: right;
			width: 45%;
		}
		> .info {
			position: absolute;
			top: 50%;
			width: 45%;
			@include transform(translateY(-50%));
			text-align: left;
		}
	}
}

// background years parallax

.years {
  height: $years-height;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; // most important controll
  @include background-size(cover);
  > h1 {
	  color: rgba(255, 255, 255, 0.8);
	  font-size: 36px;
	  line-height: $years-height;
	  text-align: center;
	  text-transform: uppercase;
	  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	small {
		font-size: 20px;
	}
	&.years-eztravel {
		background-image: url($imgsrc + 'projects/project-bkg1.jpg');
	}
	&.years-aite {
		background-image: url($imgsrc + 'projects/project-bkg2.jpg');
	}
	&.years-student {
		background-image: url($imgsrc + 'projects/project-bkg3.jpg');
	}
}
