/* component - my photo with side title desc */

$title-photo-linear-gradient: linear-gradient(to right, $main-bg-color, rgba(0, 0, 0, 0.6), $main-bg-color);
$title-photo-bgimg-outer-color: 0 0 0 0.8em rgba(255, 255, 255, 0.5);

#KevinHu {
  margin-top: 85px;
  // padding: 10em 0;
  height: calc(100vh - 170px);
  text-align: center;
  @include background($title-photo-linear-gradient);
  &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      background-image: url('/images/mywebsite/testbkg.jpeg');
      background-repeat: no-repeat;
      @include background-size(cover);
  }
  > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .title-photo {
    position: relative;
    @include animation(show-photo .8s ease);
  }
  .photo {
    position: relative;
    margin: 0 auto;
    height: 10em;
    width: 10em;
    cursor: pointer;
    z-index: 1;
    background-color: #d4d4d4;
    background-position: 80% 0%;
    background-size: 10em 10em;
    transition: all .2s linear;
    @include border-radius(50%);
    @include box-shadow($title-photo-bgimg-outer-color);
    @include animation(swing-photo 1s linear 1.2s infinite);
    &:hover {
      @include border-radius(15%);
    }
    &.photo-skill {
      background-image: url('/images/mywebsite/me.png');
      // &:hover {
      //   background-image: url('/images/mywebsite/test.jpg');
      // }
    }
    &.photo-brief {
      background-image: url('/images/mywebsite/test.jpg');
      // &:hover {
      //   background-image: url('/images/mywebsite/me.png');
      // }
    }
  }
  .title {
    position: absolute;
    left: 50%;
    margin: -10em 0 0 -5em;
    height: 10em;
    width: 10em;
    &.title-skill {
      &:before {
        content: 'FrontEnd Developer';
      }
      &:after {
        content: 'web Developer';
      }
    }
    &.title-brief {
      &:before {
        content: 'public me';
      }
      &:after {
        content: 'private me';
      }
    }
    @include mediaQuires(ML) {
      &:before, &:after {
        position: absolute;
        top: 2.5em;
        right: 8em;
        width: 7em;
        color: $main-title-color;
        opacity: 0;
        font-size: 1.7em;
        @include animation(show-left-title .8s ease-out .5s);
        @include animation-fill-mode(forwards);
      }
      &:after {
        left: 8em;
        @include animation(show-right-title .8s ease-out .5s);
        @include animation-fill-mode(forwards);
      }
    }
    @include mediaQuires(L) {
      &:before, &:after {
        width: 10em;
      }
      &:before {
        text-align: right;
      }
      &:after {
        text-align: left;
      }
    }
  }
  h1, p {
    opacity: 0;
    @include animation(show-text 1.2s ease 1s);
    @include animation-fill-mode(forwards);
  }
  h1 {
    color: $main-title-color;
    padding: 40px;
  }
  p {
    color: $main-text-color;
    font-size: 16px;
  }
}
@include keyframes(show-photo) {
   from {top: -999px;}
   to {top: 0;}
}
@include keyframes(swing-photo) {
   0% {top: 0;}
   50% {top: 3px;}
   // 50% {top: 0;}
   // 75% {top: -3px;}
   100% {top: 0;}
}
@include keyframes(show-text) {
   from {opacity: 0;}
   to {opacity: 1;}
}
@include keyframes(show-left-title) {
   from {right: 999px; opacity: 0;}
   to {right: 8em; opacity: 1;}
}
@include keyframes(show-right-title) {
   from {left: 999px; opacity: 0;}
   to {left: 8em; opacity: 1;}
}