/* projects page */

$project-default-bg-color: $dark-black;
$project-outside-desc-color: $main-color;

$project-inside-bg-color: $main-color;
$project-inside-desc-color: $dark-gray2;
$project-inside-link-color: $blue;
$project-close-color: $light-blue;

$items: 3; // profolio numbers

/*
 * main profolios section
 */

#profolios-section {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: $project-default-bg-color;
	color: $project-outside-desc-color;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	&::before {
		/* used to check the current mediaQuires */
		content: 'mobile';
		display: none;
	}

	.profolio {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% / $items;
	  overflow: hidden;
		cursor: pointer;
		@include transition(transform 0.4s);

		/* mobile - outside the viewport */
		@include transform(translateX(-100%));

    &::after {
    	/* profolio image */
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100vh / $items;
    	width: 100%;
			background: url($imgsrc + 'projects/project-bkg1.jpg') no-repeat center center;
			background-size: cover;
			@include transition(opacity 0.5s, height 0.4s);
    }

		&:nth-of-type(2) {
			top: 100vh / $items;

			&::after {
				background-image: url($imgsrc + 'projects/project-bkg2.jpg');
			}
		}

		&:nth-of-type(3) {
			top: 100vh * 2 / $items;

			&::after {
				background-image: url($imgsrc + 'projects/project-bkg3.jpg');
			}
		}

		&.loaded {
			/* show profolio img when loaded */
			@include transform(translateX(0));
		}

		&.inside {
			/* profolio inside */
			top: 0;
			height: auto;
			z-index: 1;
			cursor: auto;
			@include transition(z-index 0s 0s, top 0.4s 0s);

			&::after {
				height: 100vh;
			}
		}
	}

	@include mediaQuires(ML) {

		&::before {
			/* used to check the current mediaQuires */
			content: 'desktop';
		}

		.profolio {
			width: 100vw/$items;
			height: 100%;
			opacity: 0;
			@include transform(translateX(0));
			@include transition(width 0s);

			&:nth-of-type(2) {
				top: 0;
				left: 100vw / $items;
			}

			&:nth-of-type(3) {
				top: 0;
				left: 100vw * 2 / $items;
			}

			&::after {
				height: 100vh;
				width: 100%;
				opacity: 0;
			}

			&.loaded {
				/* show profolio img when loaded */
				opacity: 1;

				&::after {
					opacity: .5;
				}
			}

			&.inside {
				/* profolio inside */
				left: 0vw;
				width: 100vw;
				@include transition(width 0.4s 0s, z-index 0s 0s, left 0.4s 0s);
			}
		}
	}

  @include mediaQuires(L) {

  	.profolio::after {
  		background-attachment: fixed;
			@include transform(scale(1.1));
			@include transition(transform .8s, opacity .5s);
  	}

  	.profolio.loaded::after {
			opacity: 0;
		}
		.profolio:hover::after, .profolio.inside.loaded::after {
    	opacity: .7;
    	@include transform(scale(1));
    }
  }
}

/*
 * profolio outside section
 */

.profolio-outside {
	position: absolute;
	z-index: 1;
	left: 0;
  top: 100vh / ($items * 2);
  @include transform(translateY(-50%));
  width: 100%;
  text-align: center;

  .inside & {
		top: 40vh;
		@include transition(opacity 0s, top 0.4s);
	}

	// > * {
	// 	text-shadow: 0 1px 4px rgba(#000, .2);
	// }

	.profolio-title {
	  width: 200px;
	  height: 80px;
		background-repeat: no-repeat;
		background-position: center center;
	  background-size: 100%;
	  margin: auto;
	  &.aite {
			background-image: url($imgsrc + 'projects/project-title1.png');
	  }
	  &.side-project {
			background-image: url($imgsrc + 'projects/project-title2.png');
	  }
	  &.eztravel {
			background-image: url($imgsrc + 'projects/project-title3.png');
	  }
		@include mediaQuires(S) {
	  	&.aite {
	  		margin-top: 85px;
	  	}
	  	&.eztravel {
	  		margin-top: -85px;
	  	}
		}
	}

	.profolio-brief {
		font-size: 1.4rem;
		font-style: italic;
		line-height: 1.2;
		padding: .4em 2em;
		display: none;
		// opacity: .6;
	}

	@include mediaQuires(ML) {
		top: 40vh;
		width: 100vw / $items;
		opacity: 0;
		@include transform(translateY(-40%) translateX(-20px));

		.loaded & {
			opacity: 1;
			@include transform(translateY(-50%));
			@include transition(transform 0.6s, opacity 0.6s, left 0.4s);
		}

		.loaded.inside & {
			left: (100vw - 100vw / $items) / 2;
			@include transition(transform 0.6s, opacity 0s, left 0.4s);
		}

		.profolio-brief {
			position: absolute;
			top: 120px;
			display: block;
		}
	}
}

/*
 * profolio inside section
 */

.profolio-inside {
	clear: both;
	visibility: hidden;
	opacity: 0;
	margin-top: 100vh;
	padding: 4em 0 8em 0;
	cursor: auto;
	background-color: $project-inside-bg-color;
	color: $project-inside-desc-color;
	@include transition(opacity 0.4s 0s, visibility 0s 0.4s);

	.inside & {
		visibility: visible;
		opacity: 1;
	}

	.profolio-desc {
		width: 90%;
		max-width: 920px;
		margin: 0 auto;
		line-height: 2;

		a {
			color: $project-inside-link-color;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}

	@include mediaQuires(ML) {
		position: relative;
		z-index: 1;
	}
}

.profolio-down {
	position: absolute;
    bottom: 120px;
    left: 50%;
    z-index: 1;
    margin: auto;
    margin-left: 15px;
    opacity: 0;
	@include transition(opacity 0.8s);
	@include transform(translateX(-50%));
}

.opening .profolio-down {
	opacity: 1;
    @include animation(remind-down .8s linear infinite);
    @include animation-iteration-count(2);
    @include animation-fill-mode(forwards);
}

/*
 * component close
 */

.profolios-section .close-section {
	padding: 40px 0 20px 0;
	z-index: 11;
	text-align: center;
}
.profolios-section .close {
	position: relative;
  margin-left: 25px;
  color: $project-close-color;
  cursor: pointer;
  opacity: .8;
  &:hover {
  	opacity: 1;
  }
}

@include keyframes(remind-down) {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}