$imgsrc: '/images/mywebsite/projects/'; // img common src

$projects-bg-color: #101524; // black

$items: 4; // profolio numbers


// body {
// 	font-size: 1.6rem;
// 	color: $main-text-color;
// 	background-color: $projects-bg-color;
// }

/*
 * main profolios section
 */

#profolios-section {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: $projects-bg-color;
	color: $main-text-color;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;

	&::before {
		/* used to check the current mediaQuires */
		content: 'mobile';
		display: none;
	}

	.profolio {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% / $items;
	  overflow: hidden;
		cursor: pointer;
		@include transition(transform 0.4s);

		/* mobile - outside the viewport */
		@include transform(translateX(-100%));

    &::after {
    	/* profolio image */
    	content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100vh / $items;
    	width: 100%;
			background: url($imgsrc + 'img-1-s.jpg') no-repeat center center;
			background-size: cover;
			@include transition(opacity 0.5s, height 0.4s);
    }

   //  &::before {
   //  	/* if use like plugin, use to check img loaded  */
			// content: 'images/img-1-small.jpg';
			// display: none;
   //  }

		&:nth-of-type(2) {
			top: 100vh / $items;

			// &::before {
			// 	content: 'images/img-2-small.jpg';
			// }
			&::after {
				background-image: url($imgsrc + 'img-2-s.jpg');
			}
		}

		&:nth-of-type(3) {
			top: 100vh * 2 / $items;

			// &::before {
			// 	content: 'images/img-3-small.jpg';
			// }
			&::after {
				background-image: url($imgsrc + 'img-3-s.jpg');
			}
		}

		&:nth-of-type(4) {
			top: 100vh * 3 / $items;

			// &::before {
			// 	content: 'images/img-4-small.jpg';
			// }
			&::after {
				background-image: url($imgsrc + 'img-4-s.jpg');
			}
		}

		&.loaded {
			/* show profolio img when loaded */
			@include transform(translateX(0));
		}

		&.inside {
			/* profolio inside */
			top: 0;
			height: auto;
			z-index: 1;
			cursor: auto;
			@include transition(z-index 0s 0s, top 0.4s 0s);

			&::after {
				height: 100vh;
			}
		}
	}

	@include mediaQuires(ML) {

		&::before {
			/* used to check the current mediaQuires */
			content: 'desktop';
		}

		.profolio {
			width: 100vw/$items;
			height: 100%;
			opacity: 0;
			@include transform(translateX(0));
			@include transition(width 0s);

			// &:first-of-type::before {
			// 	content: 'images/img-1-large.jpg';
			// }
			&:first-of-type::after {
				background-image: url($imgsrc + '/img-1-l.jpg');
			}

			&:nth-of-type(2) {
				top: 0;
				left: 100vw / $items;

				// &::before {
				// 	content: 'images/img-2-large.jpg';
				// }
				&::after {
					background-image: url($imgsrc + 'img-2-l.jpg');
				}
			}

			&:nth-of-type(3) {
				top: 0;
				left: 100vw * 2 / $items;

				// &::before {
				// 	content: 'images/img-3-large.jpg';
				// }
				&::after {
					background-image: url($imgsrc + 'img-3-l.jpg');
				}
			}

			&:nth-of-type(4) {
				top: 0;
				left: 100vw * 3 / $items;

				// &::before {
				// 	content: 'images/img-4-large.jpg';
				// }
				&::after {
					background-image: url($imgsrc + 'img-4-l.jpg');
				}
			}

			&::after {
				height: 100vh;
				width: 100%;
				opacity: 0;
			}

			&.loaded {
				/* show profolio img when loaded */
				opacity: 1;

				&::after {
					opacity: 1;
				}
			}

			&.inside {
				/* profolio inside */
				left: 0vw;
				width: 100vw;
				@include transition(width 0.4s 0s, z-index 0s 0s, left 0.4s 0s);
			}
		}
	}

  @include mediaQuires(L) {

  	.profolio::after {
  		background-attachment: fixed;
			@include transform(scale(1.1));
			@include transition(transform .8s, opacity .5s);
  	}

  	.profolio.loaded::after {
		opacity: 0;
	}

    .no-touch & .profolio:hover::after, .profolio.inside.loaded::after {
    	opacity: 1;
    	@include transform(scale(1));
    }
  }
}

/*
 * profolio outside section
 */

.profolio-outside {
	position: absolute;
	z-index: 1;
	left: 0;
  top: 100vh / ($items * 2);
  @include transform(translateY(-50%));
  width: 100%;
  text-align: center;

  .inside & {
		top: 50vh;
		@include transition(opacity 0s, top 0.4s);
	}

	> * {
		text-shadow: 0 1px 4px rgba(#000, .2);
	}

	.profolio-title {
		font-size: 2.5rem;
		line-height: 1.5;
		font-weight: 700;
	}

	.profolio-brief {
		font-size: 1.4rem;
		font-style: italic;
		line-height: 1.2;
		padding: .4em 2em;
		display: none;
		opacity: .6;
	}

	@include mediaQuires(ML) {
		top: 50vh;
		width: 100vw / $items;
		opacity: 0;
		@include transform(translateY(-50%) translateX(-20px));

		.loaded & {
			opacity: 1;
			@include transform(translateY(-50%));
			@include transition(transform 0.6s, opacity 0.6s, left 0.4s);
		}

		.loaded.inside & {
			left: (100vw - 100vw / $items) / 2;
			@include transition(transform 0.6s, opacity 0s, left 0.4s);
		}

		.profolio-brief {
			display: block;
		}
	}

	@include mediaQuires(L) {

		.profolio-title {
			font-size: 3.6rem;
		}
	}
}

/*
 * profolio inside section
 */

.profolio-inside {
	clear: both;
	visibility: hidden;
	opacity: 0;
	margin-top: 100vh;
	padding: 4em 0;
	cursor: auto;
	background-color: $main-text-color;
	color: lighten($projects-bg-color, 30%);
	@include transition(opacity 0.4s 0s, visibility 0s 0.4s);

	.inside & {
		visibility: visible;
		opacity: 1;
	}

	.profolio-desc {
		width: 90%;
		max-width: 800px;
		margin: 0 auto;
		line-height: 2;
	}

	@include mediaQuires(ML) {
		position: relative;
		z-index: 1;
	}
}

/*
 * component close & scroll
 */

.profolios-section .close,
.profolios-section .scroll {
	display: block;
	z-index: 1;
	width: 44px;
	height: 44px;

	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	visibility: hidden;
	@include transition(transform 1s 0s, visibility 0s 1s);
}

.profolios-section .close {
	position: fixed;
	top: 30px;
	right: 5%;
	background: url($imgsrc + 'icon-close-s.svg') no-repeat center center;
	@include transform(scale(0));
	@include mediaQuires(L) {
		background-image: url($imgsrc + 'icon-close-l.svg');
	}
}

.profolios-section .scroll {
	position: absolute;
	bottom: 30px;
	left: 50%;
	background: url($imgsrc + 'icon-arrow-s.svg') no-repeat center center;
	@include transform(translateX(-50%) scale(0));
	@include mediaQuires(L) {
		background-image: url($imgsrc + 'icon-arrow-l.svg');
	}
}

.opening .close, .opening .scroll {
	visibility: visible;
	@include transform(scale(1));
	@include transition(transform 0.4s 0s, visibility 0s 0s);
}

.opening > .scroll {
	@include transform(translateX(-50%) scale(1));
	@include animation(arrow-down 1.2s 0.4s infinite);
}

.no-touch {
	.opening > .close:hover {
		@include transform(scale(1.2));
	}

	.opening > .scroll:hover {
		@include transform(translateX(-50%) scale(1.2));
	}
}

/*
 * keyframes
 */

// @include keyframes(arrow-down) {
@include keyframes(arrow-down) {
	0% {
		@include transform(translateX(-50%) scale(1));
	}

	50% {
		@include transform(translateY(10px) translateX(-50%) scale(1));
	}

	100% {
		@include transform(translateX(-50%) scale(1));
	}
}