#skills {
	margin-top: 85px;
	padding: 40px 0;
}

#skills-detail {
	margin: 40px auto;
	max-width: 70%;
  @include mediaQuires(ML) {
	  max-width: 600px;
  }
  font-family: Arial,"微軟正黑體";
}

.levels {
	position: relative;
	left: 55px;
	> div {
		float: left;
		width: 25%;
		padding: 20px 0;
	  color: #565656;
		text-align: center;
		font-weight: bolder;
	}
}

.skill-level {
	position: relative;
  left: 55px;
	background-color: #E1E1E1;
	margin-bottom: 40px;
	border-radius: 10px;
	.start, .junior, .middle, .senior, .expert {
	  position: absolute;
		height: 18px;
	  width: 1px;
	  margin-top: -3px;
	  background-color: white;
	}
	.junior {
	  left: 25%;
	}
	.middle {
	  left: 50%;
	}
	.senior {
	  left: 75%;
	}
}

canvas { display: block; background: #111; }
canvas:hover { cursor: pointer; }
