#skills {
	padding: 135px 0;
	background-color: #364656;
}

#skills-detail {
	margin: 40px auto;
	max-width: 70%;
  @include mediaQuires(ML) {
	  max-width: 600px;
  }
  font-family: Arial,"微軟正黑體";
}

#skills-detail .levels {
	position: relative;
	left: 55px;
	> div {
		float: left;
		width: 25%;
		padding: 20px 0;
	  color: white;
		text-align: center;
		font-weight: bolder;
	}
}

#skills-detail .skill-level {
	position: relative;
  left: 55px;
	background-color: #ccc;
	margin-bottom: 40px;
	border-radius: 10px;
	.junior, .middle, .senior {
	  position: absolute;
		height: 10px;
	  width: 1px;
	  z-index: 1;
	  background-color: white;
	}
	.junior {
	  left: 25%;
	}
	.middle {
	  left: 50%;
	}
	.senior {
	  left: 75%;
	}
}
