@import "utils/fonts";

$skill-level: $white;
$skill-desc: $white;
$skill-background-linear-gradient: 'linear-gradient(90deg, #033c58 , #05182d , #033c58)';
$skill-background-unfill: $light-gray;

#skills {
	padding: 135px 0;
	// background-color: #05182d;
	@include background ($skill-background-linear-gradient);
}

#skills-desc {
	position: relative;
	margin: 20px auto 40px auto;
	padding: 20px;
	color: $skill-desc;
	border-bottom: 1px solid $skill-desc;
	z-index: 5;
	text-align: center;
	font-size: 18px;
	> ul {
		list-style-type: none;
	}
	li {
		padding: 5px;
		&::first-letter {
			font-size: 22px;
			font-weight: bold;
		}
	}
}

#skills-detail {
	margin: 40px auto;
	max-width: 70%;
  font-family: Arial,"微軟正黑體";
  @include mediaQuires(ML) {
	  max-width: 600px;
  }
}

#skills-detail .levels {
	position: relative;
	left: 55px;
	> div {
		float: left;
		width: 25%;
		padding: 20px 0;
	  color: $skill-level;
		text-align: center;
		font-weight: bolder;
	}
}

#skills-detail .skill-level {
	position: relative;
  left: 55px;
	background-color: $skill-background-unfill;
	margin-bottom: 40px;
	border-radius: 10px;
	.junior, .middle, .senior {
	  position: absolute;
		height: 10px;
	  width: 1px;
	  z-index: 1;
	  background-color: $skill-level;
	}
	.junior {
	  left: 25%;
	}
	.middle {
	  left: 50%;
	}
	.senior {
	  left: 75%;
	}
}
