@import "utils/_layout";
@import "utils/_variables";

// @import "../../image/icons/*.png";
// @include all-icons-sprites;  //all-後面接著的「icons」代表著是資料夾名稱
// .icons-sprite,
// .icons-facebook,
// .icons-twitter,
// .icons-yahoo {  background: url('icons-s0859518ac7.png') no-repeat; }
// .icons-facebook {  background-position: 0 0; }
// .icons-twitter {  background-position: 0 -32px; }
// .icons-yahoo {  background-position: 0 -64px; }

a {
  text-decoration: none;
}

// body {
//   background: $main-bg-color;
// }
.container {
  margin: auto;
	padding : 0 15px;
  @include mediaQuires(S) {
  	width: 100%;
  }
  @include mediaQuires(M) {
  	width: 750px;
  	// margin: 0 auto;
  }
  @include mediaQuires(L) {
  	width: 990px;
  	// margin: 0 auto;
  }
}
#header {
  position: fixed;
  width: 100vw;
  top: 0;
  background: $main-bg-color;
  z-index: 10;
  // height: 85px;
  // overflow: hidden;
  @include mediaQuires(M) {
    // left: 50%;
    // margin-left: -390px;
  }
  @include mediaQuires(L) {
    // left: 50%;
    // margin-left: -510px;
  }
}
#footer {
  position: fixed;
  width: 100vw;
  height: 85px;
  bottom: 0;
  z-index: 10;
  background: $main-bg-color;
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}
// .pull-left {
//   float: left;
// }

// .pull-right {
//   float: right;
// }