// @import 'compass/css3';

// colors

$white: #fff;
$black: #000;

$black-opacity: rgba(0, 0, 0, 0.85);
$blue-opacity: rgba(27, 139, 255, 0.8);

$light-blue: #4380BE;
$light-blue2: #47A1FF;
$dark-blue: #0055C1;
$light-gray: #ddd;
$light-gray2: #444;
$dark-gray: #bbb;
$dark-gray2: #777;
$dark-black : #101524;
$orange: #F80;

$main-color: $white;
$main-bg-color: $black-opacity;


// fonts

// commons
$imgsrc: '/images/mywebsite/';
// $circleSize: 20px;
// $smallCircleSize: 14px;