// @import 'compass/css3';

// colors

$white: #fff;
$black: #000;

$black-opacity: rgba(0, 0, 0, 0.85);
$blue-opacity: rgba(27, 139, 255, 0.8);

$light-blue: #4380BE;
$light-blue2: #47A1FF;
$light-gray: #ddd;
$dark-gray: #bbb;
$drak-black: #444;


$main-color: $white;
$main-title-color: $white;
$main-text-color: $white;
// $main-bg-color: rgba(27, 139, 255, 1);
$main-bg-color: $black-opacity;


// fonts

// commons
$imgsrc: '/images/mywebsite/';
// $circleSize: 20px;
// $smallCircleSize: 14px;