// @import "../../images/icons/*.png";
// @include all-icons-sprites;  //all-後面接著的「icons」代表著是資料夾名稱
// .icons-sprite,
// .icons-facebook,
// .icons-twitter,
// .icons-yahoo {  background: url('icons-s0859518ac7.png') no-repeat; }
// .icons-facebook {  background-position: 0 0; }
// .icons-twitter {  background-position: 0 -32px; }
// .icons-yahoo {  background-position: 0 -64px; }

$main-bg-color: $black-opacity;

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
//   background: $main-bg-color;
}

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: $main-bg-color;
}

.container {
  margin: auto;
	padding : 0 15px;
  @include mediaQuires(S) {
  	// width: 100%;
  }
  @include mediaQuires(M) {
  	width: 750px;
  	// margin: 0 auto;
  }
  @include mediaQuires(L) {
  	width: 990px;
  	// margin: 0 auto;
  }
}
#header {
  position: fixed;
  width: 100vw;
  height: 85px;
  top: 0;
  background-color: $main-bg-color;
  z-index: 10;
  // height: 85px;
  // overflow: hidden;
}
#footer {
  position: fixed;
  width: 100vw;
  height: 85px;
  bottom: 0;
  z-index: 10;
  color: $main-color;
  background-color: $main-bg-color;
  // &.relative-bottom {
  //   position: relative;
  // }
  .footer {
    padding: 18px 0;
  }
  .contact-info {
    a {
      color: $main-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  iframe {
    margin: 6px 5px 0 5px;
    width: 80px;
    height: 20px;
  }
  @include mediaQuires(S) {
    .contact-info {
      text-align: center;
    }
    .social-info {
      float: left;
      margin-top: -105px;
    }
  }
  @include mediaQuires(ML) {
    .contact-info {
      float: left;
      text-align: left;
    }
    .social-info {
      float: right;
      display: flex;
      align-items: center;
      height: 49px;
      > div {
        float: left;
        padding: 0 10px;
      }
    }
  }
}

.clearfix {
  // *zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}
// .pull-left {
//   float: left;
// }

// .pull-right {
//   float: right;
// }