/* component - skill level */

$skill-level-title: $white;
$skill-level-bar: linear-gradient(to right, rgba(168,204,237,1) 0%, rgba(58,142,233,1) 60%);

.bar {
  position: relative;
  height: 10px;
  border-radius: 10px;
  &:before {
    content: attr(data-skill);
    left: -120px;
    position: absolute;
    top: -15px;
    padding: 10px;
    color: $skill-level-title;
    font-style: italic;
    font-weight: bolder;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    @include background($skill-level-bar);
    @include animation(percentage-flow 1s linear);
  }
  &[data-percent="5"] {
    width: 5%;
  }
  &[data-percent="10"] {
    width: 10%;
  }
  &[data-percent="15"] {
    width: 15%;
  }
  &[data-percent="20"] {
    width: 20%;
  }
  &[data-percent="25"] {
    width: 25%;
  }
  &[data-percent="30"] {
    width: 30%;
  }
  &[data-percent="35"] {
    width: 35%;
  }
  &[data-percent="40"] {
    width: 40%;
  }
  &[data-percent="45"] {
    width: 45%;
  }
  &[data-percent="50"] {
    width: 50%;
  }
  &[data-percent="55"] {
    width: 55%;
  }
  &[data-percent="60"] {
    width: 60%;
  }
  &[data-percent="65"] {
    width: 65%;
  }
  &[data-percent="70"] {
    width: 70%;
  }
  &[data-percent="75"] {
    width: 75%;
  }
  &[data-percent="80"] {
    width: 80%;
  }
  &[data-percent="85"] {
    width: 85%;
  }
  &[data-percent="90"] {
    width: 90%;
  }
  &[data-percent="95"] {
    width: 95%;
  }
  &[data-percent="100"] {
    width: 100%;
  }
}
@include keyframes(percentage-flow) {
  from {width: 0;}
  to {width: 100%;}
}