<footer id="footer">
  <div class="container">
    <div class="footer clearfix">
      <div class="contact-info">
        <div>phone: <a href="tel:+886926702966">+886 926 702 966</a></div>
        <div>email: <a href="mailto:sky790312yks@gmail.com">sky790312yks@gmail.com</a></div>
        <div class="copyright">Copyright © Kevin Hu 2015. All rights reserved.</div>
      </div>
      <div class="social-info">
        <a class="social-link fa fa-skype" href="skype:sky790312?call" target="_blank"></a>
        <a class="social-link fa fa-facebook" href="https://facebook.com/sky790312" target="_blank"></a>
        <a class="social-link fa fa-github" href="https://github.com/sky790312" target="_blank"></a>
        <a class="social-link fa fa-linkedin" href="https://tw.linkedin.com/in/sky790312" target="_blank"></a>
        <iframe src="http://www.facebook.com/plugins/like.php?app_id=808398882620079&amp;href=http://www.sky790312.tk/&amp;send=true&amp;layout=button&amp;show_faces=true&amp;width=50&amp;height=50&amp;action=like" scrolling="no" frameborder="0"  allowTransparency="true"></iframe>
      </div>
      <!-- <div>CV</div> -->
    </div>
  </div>
</footer>