<footer id="footer">
  <div class="container">
    <div class="footer clearfix">
      <div class="contact-info">
        <div>Phone: <a href="tel:+886926702966">+886 926 702 966</a></div>
        <div>Email: <a href="mailto:sky790312yks@gmail.com">sky790312yks@gmail.com</a></div>
        <div class="copyright">Copyright © Kevin Hu 2015. All rights reserved.</div>
      </div>
      <div class="social-info">
        <a class="social-link fa fa-skype" href="skype:live:sky790312?chat" target="_blank"></a>
        <a class="social-link fa fa-facebook" href="https://facebook.com/sky790312" target="_blank"></a>
        <a class="social-link fa fa-github" href="https://github.com/sky790312" target="_blank"></a>
        <a class="social-link fa fa-linkedin" href="https://tw.linkedin.com/in/sky790312" target="_blank"></a>
        <div class="fb-like" data-href="http://www.sky790312.tk/" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <!-- <div>CV</div> -->
    </div>
  </div>
</footer>