<div id="helper">
  <div class="container clearfix">
    <div class="head-boy">
      <div class="head">
        <div class="eyes"></div>
      </div>
      <div class="feets"></div>
    </div>
  </div>
  <div class="equip-section">
    <div class="equip">aaa</div>
    <div class="equip">bbb</div>
  </div>
  <div class="padding-section">
    paddings section
  </div>
  <div class="helper-menu">
<!--       <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
    <label for='menu-toggler'></label> -->
    <ul>
      <li>
        <a id="lang" class="menu-item"><strong>中 / En</strong></a>
      </li>
      <li>
        <a id="aboutsite" class="menu-item"><strong>about website</strong></a>
      </li>
      <li>
        <a id="msgboard" class="menu-item"><strong>message board</strong></a>
      </li>
      <li>
        <a id="blog" class="menu-item"><strong>blog</strong></a>
      </li>
      <li>
        <a id="cv" class="menu-item"><strong>CV</strong></a>
      </li>
    </ul>
  </div>
  <div class="help-desc">hello, need to know more !?</div>
<!--     <div class="">
    <a class="social-link fa fa-html5" href=""></a>
    <a class="social-link fa fa-css3" href=""></a>
  </div> -->
</div>
<div id="helper-background"></div>
