/* introverted section */

.page-introverted {
	left: -100%;
	top: 100%;
	.introverted-img1 {
	  width: 20%;
    height: 11%;
    left: 25%;
    top: 66%;
	  background-image: url($imgsrc + 'aboutme/introverted-img1.jpg');
	}
	.introverted-img2 {
		width: 20%;
    height: 15%;
    left: 50%;
    top: 63%;
		background-image: url($imgsrc + 'aboutme/introverted-img2.jpg');
	}
	.go-collections {
		top: 80%;
		width: 100%;
		text-align: center;
	}
	.introverted-goback {
		top: 72%;
    left: 72%;
	}
	@include mediaQuires(ML) {
		.introverted-title {
			width: auto;
			top: 20%;
			left: 12%;
		}
		.introverted-desc {
    	left: 48%;
    	top: 52%;
    	width: 48%;
		}
		.introverted-img1 {
	    width: 28%;
	    height: 34%;
	    left: 58%;
	    top: 15%;
		}
		.introverted-img2 {
			width: 32%;
	    height: 51%;
	    left: 8%;
	    top: 35%;
		}
		.go-collections {
			width: auto;
			left: 53%;
			top: 78%;
		}
		.introverted-goback {
			left: 78%;
			top: 78%;
		}
	}
}