/* about page inside - working  */

.page-working {
	left: 100%;
	top: 100%;
	.working-img1 {
		left: 30%;
    width: 20%;
    height: 8%;
	  background-image: url($imgsrc + 'aboutme/working-img1.jpg');
	}
	.working-img2 {
    left: 52%;
    bottom: 10px;
    width: 20%;
    height: 15%;
	  background-image: url($imgsrc + 'aboutme/working-img2.jpg');
	}
	.working-goback {
		bottom: 10px;
    left: 25%;
	}
	@include mediaQuires(ML) {
		.working-title {
			left: 62%;
	    width: auto;
		}
		.working-desc {
			left: 5%;
	    top: 47%;
	    width: 48%;
		}
		.working-img1 {
			left: 12%;
	    top: 60px;
	    width: 25%;
	    height: 30%;
		}
		.working-img2 {
			left: 57.5%;
	    top: 200px;
			width: 25%;
			height: 54%;
		}
		.working-goback {
		bottom: 40px;
    	left: 23%;
		}
	}
}
