/* extroverted section */

.page-extroverted {
	left: 100%;
	top: -100%;
	.extroverted-img1 {
		left: 48%;
		bottom: 60px;
		width: 34%;
		height: 13%;
	  background-image: url($imgsrc + 'aboutme/extroverted-img1.jpg');
	}
	.extroverted-img2 {
		left: 32%;
		bottom: 60px;
		width: 13%;
		height: 13%;
	  background-image: url($imgsrc + 'aboutme/extroverted-img2.jpg');
	}
	.extroverted-goback {
		left: 15%;
		bottom: 60px;
	}
	@include mediaQuires(ML) {
		.extroverted-img1, .extroverted-img2{
			height: 37%;
		}
	}
}