/* working section */

.page-working {
	left: 100%;
	top: 100%;
	.working-img1 {
	  background-image: url($imgsrc + 'aboutme/working-img1.jpg');
		left: 30%;
    top: 72%;
    width: 20%;
    height: 8%;
	}
	.working-img2 {
	  background-image: url($imgsrc + 'aboutme/working-img2.jpg');
    left: 52%;
    top: 70%;
    width: 20%;
    height: 15%;
	}
	.working-goback {
		top: 76%;
    left: 15%;
	}
	@include mediaQuires(ML) {
		.working-title {
			left: 62%;
	    top: 15%;
	    width: auto;
		}
		.working-desc {
			left: 10%;
	    top: 55%;
	    width: 40%;
		}
		.working-img1 {
			left: 15%;
	    top: 20%;
	    width: 30%;
	    height: 27%;
		}
		.working-img2 {
			left: 55%;
			top: 30%;
			width: 30%;
			height: 54%;
		}
		.working-goback {
			top: 80%;
    	left: 10%;
		}
	}
}
