/* about page inside - family  */

.page-family {
		left: -100%;
		top: -100%;
	.family-img1 {
		left: 17%;
		bottom: 60px;
		width: 19%;
		height: 15%;
	  background-image: url($imgsrc + 'aboutme/family-img1.jpg');
	}
	.family-img2 {
		left: 40%;
		bottom: 60px;
		width: 30%;
		height: 14%;
	  background-image: url($imgsrc + 'aboutme/family-img2.jpg');
	}
	.family-goback {
		left: 77%;
		bottom: 60px;
	}
	@include mediaQuires(ML) {
		.family-img1, .family-img2{
			height: 41%;
		}
	}
}