/* family section */

.page-family {
	left: -100%;
	top: -100%;
	.family-desc {
		left: 30%;
		top: 10%;
		width: 40%;
		> span {
			color: #fff;
		}
	}
	.family-img1 {
		position: absolute;
		left: 35%;
		top: 25%;
		width: 16%;
		width: 22%;
		height: 65%;
	  // background: url($imgsrc + 'aboutme/aboutme-me2.jpg') no-repeat center center;
	  background-size: 100%;
	}
	.family-goback {
		left: 60%;
		top: 60%;
	}
}